.card {
  background-color: bisque;
  max-width: 250px;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card__image {
  height: 200px;
}

.card__details {
  padding: 30px;
}

.card__details__name {
  margin: 0px;
}
