.card {
  width: 250px;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 472px;
  background-color: grey;
}

.card__image {
  height: 200px;
}

.card__details {
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.7), transparent);
  color: white;
  font-family: sans-serif;
}

.card__details__name {
  position: relative;
  font-size: 28px;
}

.details_stats {
  display: none;
}

.card:hover .details_stats {
  display: block;
}
