.footer{
    height:15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    text-decoration: none;
}

.footer__link{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
}