body{
  margin: 0;
  background-color: black;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: black;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.rawJson {
  height: 50vh;
  font-size: 10px;
  overflow: scroll;
  width: 85%;
  border: 2px solid black;
  border-radius: 8px;
}

.checkButtons {
  display: flex;
  gap: 5px;
  padding: 2rem 0;
  color: #fff;
}

.checkBox__container {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 2rem 0;
  width: 105px;
}

input {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
